server/target/
server/.idea/
server/pom.xml.tag
server/pom.xml.releaseBackup
server/pom.xml.versionsBackup
server/pom.xml.next
server/release.properties
server/dependency-reduced-pom.xml
server/buildNumber.properties
server/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
server/.mvn/wrapper/maven-wrapper.jar
flinktask/.idea/
flinktask/target
flinktask/pom.xml.tag
flinktask/pom.xml.releaseBackup
flinktask/pom.xml.versionsBackup
flinktask/pom.xml.next
flinktask/release.properties
flinktask/dependency-reduced-pom.xml
flinktask/buildNumber.properties
flinktask/.mvn/timing.properties